body{
    background: #fffff0;
}

.shape-text{
    margin-top: 50px;
}

.shape{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50;
}

.shape-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.circle{
    border-radius: 100%;
}

.blue{
    background: blue;
}

.red{
    background: red;
}